<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
        <img src="img/logo.png" alt="">
        <p class="lead">KriminalistiÄko Policijski Univerzitet</p>
        <hr>
        <p class="lead">Prijavi se kao </p>
        <a class="btn btn-light btn-lg" href="/profesorLogin" role="button">Profesor</a>
        <a class="btn btn-dark btn-lg" href="/studentLogin" role="button">Student</a>
    </div>
  </div>
<%- include('partials/footer') %>
