<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <img src="img/logo.png" alt="">
    <p class="lead">KriminalistiÄko Policijski Univerzitet</p>
    <hr>
        <form class="login-student" action="/student" method="POST">
          <div class="form-group">
            <label style="student-label" for="text">Broj indeksa (primer:1b1002818)</label>
            <input type="text" class="form-control" name="usernameStudent">
          </div>
          <button type="submit" class="btn btn-dark">Prijavi se</button>
        </form>
      </div>
    </div>



<%- include('partials/footer') %>
