<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
        <img src="img/logo.png" alt="">
        <p class="lead">KriminalistiÄko Policijski Univerzitet</p>
        <hr>

  <table>
  <tr>
    <!---ovde sam probao nesto ali ne znam kako da povezem html i js preko node--->
    <% for(var i = 0; i <10 ; i++){ %>
      <th><%=%></th>
      <th>Broj indeksa</th>
      <th>Ime i prezime</th>
      <th>Aktivnost</th>
      <th>Vreme</th>
      <th>Datum</th>
      <th>Napomena</th>
  </tr>
</table>

    </div>
  </div>
<%- include('partials/footer') %>
